<%- include("../partials/header") %>

<form class="ui form" action="/profile" method="POST">
  <%#- include("./partials/formInputs") %>
  <div>
    <p1>Unit Buyer Profile</p1>

    <div class="ui accordion">
        <!-- <div class="active title"> -->
        <div class="active title">
          <i class="dropdown icon"></i>
         Classify
        </div>
        <div class="active content">        <!-- <div class="active content"> -->
          <div class="grouped fields">
            <label>How will you use your new unit?</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="purpose" checked="checked" id="resident">
                <label>I will live there</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="purpose" id="resident_investor">
                <label>Live there now, maybe rent later</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="purpose" id="investor">
                <label>Investment for rental</label>
              </div>
            </div>
          </div>  


          <div class="realEstateAgent">
            <div class="ui checkbox">
              <input type="checkbox" class="using_real_estate_agent" name="real_estate_agent" value="real_estate_agent">
              <label>I'm working with a real estate agent.</label>
            </div>   
            <div class="ui center aligned basic segment real_estate_agent_info" style = "display: none">
              <div class="two fields">
                <input type="text" name="first-name" placeholder="Agent's First Name">
                <input type="text" class="real_estate_agent_info" style = "display: none" name="last-name" placeholder="Last Name">            
              </div>  
              <div class="ui horizontal divider ">
                Or
              </div>   
              <div class="field">
                <input class="real_estate_agent_info" style = "display: none" type="email" name="real_estate_agent_email" placeholder="Agent's Email">
              </div>                         
            </div>   
          </div>
        </div>


        <div class="title">
          <i class="dropdown icon"></i>
          Us
        </div>

        <div class="content">
          <p>Who will live there?</p>

          <div class="whoWillLiveThere">
            <div class="ui segments">
              <div class="ui segment">
                <p>People</p>
              </div>
              <div class="ui segment occupant_list">

              </div>
            </div>

            <div class="ui segments">
              <div class="ui segment">
                <p>Pets</p>
              </div>
              <div class="ui segment pet_list">

              </div>
            </div> 
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          My new unit

        </div>

        <div class="content">
          <label class="min_bedrooms" for="min_bedrooms">Minimum bedrooms</label>         
          <select name="min_bedrooms">
            <option value="0">Studio</option>
            <option value="1">1+</option>
            <option value="2" selected>2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
          </select>
          <label class="min_bathrooms" for="min_bathrooms">Minimum bedrooms</label>         
          <select name="min_bathrooms">
            <option value="1" selected>1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
          </select>
          <p>Features:</p>

          <div class="laundry feature">
            <div class="ui checkbox">
              <input type="checkbox" class="laundry" name="laundry" value="laundry">
              <label for="laundry_type">Laundry: </label>
            </div>  

            <div>
              <select name="laundry_type">
                <option value="in_unit" selected>In-unit</option>
                <option value="in_building">In-building</option>
                <option value="nearby">Nearby</option>
              </select>                
            </div>

            <div>         
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>
            </div>          
          </div>

          <div class="garburator feature">
            <div class="ui checkbox">
              <input type="checkbox" class="garburator" name="garburator" value="garburator"> 
              <label for="garburator">Garburator: </label>              
            </div>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="dishwasher feature">
            <div class="ui checkbox">
              <input type="checkbox" class="dishwasher" name="dishwasher" value="dishwasher"> 
              <label for="dishwasher">Dishwasher: </label>
            </div>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="fireplace feature">
            <div class="ui checkbox">
              <input type="checkbox" class="fireplace" name="fireplace" value="fireplace"> 
              <label for="fireplace">Fireplace: </label>
            </div>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="balcony feature">
            <div class="ui checkbox">
              <input type="checkbox" class="balcony" name="balcony" value="balcony"> 
              <label for="balcony">Outdoor area (balcony/deck/yard): </label>
            </div>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="home_office feature">
            <div class="ui checkbox">
              <input type="checkbox" class="home_office" name="home_office" value="home_office"> 
              <label for="home_office">Home office: </label>
            </div>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>
            </div>
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Getting Places
        </div>
        <div class="content">
          <h1>Places I go</h1>

          <div class="dropdown">
            <button class="dropbtn">New</button>
            <!-- <button class="circular ui icon button dropbtn">
              <i class="dropbtn icon plus"></i>
            </button>               -->
            <div class="dropdown-content">
              <a class="item destination_item" id="church">Church</a>
              <a class="item destination_item" id="daycare">Daycare</a>
              <a class="item destination_item" id="friend_family">Friend/Family</a>
              <a class="item destination_item" id="gym">Gym</a>
              <a class="item destination_item" id="school">School</a>
              <a class="item destination_item" id="work">Work</a>
              <a class="item destination_item" id="grocery">Grocery</a>
              <a class="item destination_item" id="cafe">Cafe</a>
              <a class="item destination_item" id="restaurant">Restaurant</a>
              <a class="item destination_item" id="other">Other</a>
            </div>
          </div>

          <div class="destinations">
            <div class="destination_details">
        
            </div>   
          </div>

          <div class="vehicles">
 
          </div>


        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Lifestyle
        </div>
        <div class="content">
          <p>Lifestyle - Check all that apply to you</p>
          <div class="access">
            <input type="checkbox" class="no_stairs" name="no_stairs" value="no_stairs"> 
            <label for="no_stairs">No stairs: </label>  
            <input type="checkbox" class="no_elevator" name="no_elevator" value="no_elevator"> 
            <label for="no_stairs">No elevator: </label> 
            <select name="importance">
              <option value="required">Required</option>
              <option value="important">Important</option>
              <option value="preferred" selected>Preferred</option>
              <option value="no_thanks">No thanks</option>
            </select>          
          </div>
          <div class="amenities">
            <div class="storage">
              <input type="checkbox" class="storage" name="storage" value="storage"> 
              <label for="storage">Storage: </label> 
              <select name="storage_type">
                <option value="locker">Locker</option>
                <option value="shed">Shed</option>
              </select>   
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="gym">
              <input type="checkbox" class="gym" name="gym" value="gym"> 
              <label for="gym">Gym: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="pool">
              <input type="checkbox" class="pool" name="pool" value="pool"> 
              <label for="pool">Pool: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="concierge">
              <input type="checkbox" class="concierge" name="concierge" value="concierge"> 
              <label for="concierge">Concierge: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="playground">
              <input type="checkbox" class="playground" name="playground" value="playground"> 
              <label for="playground">Playground: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="guest_suite">
              <input type="checkbox" class="guest_suite" name="guest_suite" value="guest_suite"> 
              <label for="guest_suite">Guest suite: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>        
            <div class="hot_tub">
              <input type="checkbox" class="hot_tub" name="hot_tub" value="hot_tub"> 
              <label for="hot_tub">Hot tub: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
            <div class="party_space">
              <input type="checkbox" class="party_space" name="party_space" value="party_space"> 
              <label for="party_space">Party space: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>     
            <div class="garden">
              <input type="checkbox" class="garden" name="garden" value="garden"> 
              <label for="garden">Garden/Greenhouse: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
            <div class="party_space">
              <input type="checkbox" class="party_space" name="party_space" value="party_space"> 
              <label for="party_space">Party space: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
          </div>
          <div class="smoke">
            <div class="tobacco">
              <input type="checkbox" class="tobacco" name="tobacco" value="tobacco"> 
              <label for="tobacco">Tabacco: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
            <div class="cannabis">
              <input type="checkbox" class="cannabis" name="cannabis" value="cannabis"> 
              <label for="cannabis">Cannabis: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
          </div>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Financial
        </div>
        <div class="content">
          <p>Financial</p>
          <div class="monthly">
            <p>Monthly expenses: your total budget for housing including:</p>
            <ul>
              <li>Mortgage</li>
              <li>Utilities</li>
              <li>Property taxes</li> 
              <li>Property insurance</li>             
              <li>Repairs & maintenance</li>
            </ul>
            <label class="monthly_budget" for="monthly_budget">$</label>         
            <input class="monthly_budget"type="text" name="monthly_budget">
            <p>Downpayment available for purchase:</p>
            <label class="down_payment" for="down_payment">$</label>         
            <input class="down_payment"type="text" name="down_payment">
          </div>
          <div class="savings">
            <p>Savings: money put aside for major housing expenses (apart from down payment)</p>
            <p>My savings preference</p>
            <input type="radio" name="savings_plan" value="save"> Pay extra monthly to save for major expenses.<br>
            <input type="radio" name="savings_plan" value="female"> Don't save extra.  I'll figure it out when expenses happen.<br>
            <p>My current personal reserve for extra housing expenses: </p>
            <select name="savings_amount">
              <option value="under_10k">Less than $10,000</option>
              <option value="under_25k">$10,000 to $25,000</option>
              <option value="under_50k">$25,000 to $50,000</option>
              <option value="under_100k">$50,000 to $100,000</option>
              <option value="100K_plus">$100,000 +</option>
            </select>  
          </div>
          <div class="lender">
            <input type="checkbox" class="lender_preapproved" name="lender_preapproved" value="lender_preapproved"> I've been pre-approved for my mortgage.
            <div>
              <label class="lender_info" style = "display: none" for="lender_name">Lender</label>  
              <input class="lender_info" style = "display: none" type="text" name="lender_name">
              <label class="lender_info" style = "display: none" for="lender_email" >Email</label>
              <input class="lender_info" style = "display: none" type="text" name="lender_email">
            </div>
          </div>
        </div>

      <input type="submit" value="Save">
      <!-- <input type="submit" value="<%#= article ? "Update" : "Create" %>" class="btn btn-primary"> -->
    </form>  
    <!-- <form action="/clucks/new" method="POST" class="inputForm">
      <label for="content" class="label">Content</label>
      <input type="text" name="content" class="input"  placeholder="Whatchoo cluckin' 'bout?'"></input>
      <label for="imageUrl" class="label">Image URL</label>
      <input type="text" name="imageUrl" class="input"  placeholder="https://i.imgur.com/qM6AGGG99"></input>
      <input type="submit" value="Cluck!" class="btn btn-primary submitButton">
    </form> -->
  </div>
    
  <script>
    function activateAccordian(e) {
      let thisElement, otherElement
      switch(e.target.tagName.toLowerCase()) {
        case "div":
          thisElement = e.target //title div
          otherElement = e.target.nextElementSibling  // content div
          break;
        case "p":
          thisElement = e.target.parentElement  //the content div that holds p
          otherElement = thisElement.previousElementSibling //the title div
          break;
        case "i":
          thisElement = e.target.parentElement  //the title div that holds i
          otherElement = thisElement.nextElementSibling //the content div          
        default:
      }      

      if (thisElement.classList.contains("active")) {
        thisElement.classList.remove("active")
        otherElement.classList.remove("active")
      } else {
        const titles = document.querySelectorAll(".title")
        titles.forEach(t => t.classList.remove("active"))
        const contents = document.querySelectorAll(".content")
        contents.forEach(c => c.classList.remove("active"))
        thisElement.classList.add("active")
        otherElement.classList.add("active")
      }
    }

    function petType(e) {
      const parentPet = e.target.parentElement
      const petSize = parentPet.querySelector(".pet_size")
      const petSizeLabel = parentPet.querySelector(".pet_size_label")
      if (e.target.value === "dog") {
        petSize.style = "display: inline"
        petSizeLabel.style = "display: inline"
      } else {
        petSize.style = "display: none"
        petSizeLabel.style = "display: none"
      }
    }

    function toggleRealEstateAgent(e) {
      const realtors = document.querySelectorAll(".real_estate_agent_info")
      if (e.target.checked) {
        realtors.forEach(r => {
          r.style = "display: inline"
        })
      } else {
        realtors.forEach(r => {
          r.style = "display: none"
        })
      }
    }

    function toggleLender(e) {
      const lenders = document.querySelectorAll(".lender_info")
      if (e.target.checked) {
        lenders.forEach(l => {
          l.style = "display: inline"
        })
      } else {
        lenders.forEach(l => {
          l.style = "display: none"
        })
      }
    }

    function addOccupantRow(e) {
      occupantID = -1
      if (e) {
        occupantID = parseInt(e.target.parentElement.getAttribute("id"))
        e.target.parentElement.setAttribute("id", 1)       
      }

      if (occupantID === -1) {  //first time some has edited this row
        const occupantList = document.querySelector(".occupant_list")
        htmlString = `<div id=-1 class="occupant">
          <input type="text" name="occupant_name" placeholder="Name">
          <select name="occupant_age" placeholder="Age">
            <option value="under_18">Under 18</option>
            <option value="adult" selected>Adult</option>
            <option value="senior">Senior (over 55)</option>
          </select>
        </div>`

        occupantList.insertAdjacentHTML('beforeend', htmlString);
        const newOccupant = occupantList.lastChild
        newOccupant.addEventListener("input", addOccupantRow); 
      }
    }  
    
    function addPetRow(e) {
      petID = -1
      if (e) {
        petID = parseInt(e.target.parentElement.getAttribute("id"))
        e.target.parentElement.setAttribute("id", 1)       
      }

      if (petID === -1) {  //first time some has edited this row
        const petList = document.querySelector(".pet_list")
        htmlString = `<div id=-1 class="pet">
          <input type="text" name="pet_name" placeholder="Name">
          <select name="pet_type" class="pet_type">
            <option value="dog" selected>Dog</option>
            <option value="cat">Cat</option>
            <option value="bird">Bird</option>
            <option value="aquarium">Aquarium</option>
            <option value="other">Other</option>
          </select>
          <select name="pet_size" class="pet_size">
            <option value="small" selected>Small (less than 20 lbs.)</option>
            <option value="medium">Medium</option>
            <option value="large">Large (40+ lbs.)</option>
          </select>            
        </div>`

        petList.insertAdjacentHTML('beforeend', htmlString);
        const newPet = petList.lastChild
        newPet.addEventListener("input", addPetRow); 
        const thisPetType = newPet.querySelector(".pet_type")
        thisPetType.addEventListener("click", petType)
      }
    }  

    function toggleDestinationList(event) {
      event.preventDefault()
      document.querySelector(".destination_type").setAttribute("style", "display: block")
      
    }

    function addVehicle(event) {
      vehicleID = -1
      if (e) {
        vehicleID = parseInt(e.target.parentElement.getAttribute("id"))
        e.target.parentElement.setAttribute("id", 1)       
      }

      if (vehicleID === -1) {  //first time some has edited this row
        const vehicleList = document.querySelector(".vehicles")
        htmlString = `<div>
            <h1>Vehicles</h1>
            <label class="vehicle_type" for="vehicle_type">Vehicle: </label>   
            <select name="vehicle_type">
              <option value="compact">Compact car</option>
              <option value="full_size">Full-size car/truck</option>
              <option value="motorcycle">Motorcycle</option>
            </select>  
            <label class="vehicle_parking" for="vehicle_parking">Parking: </label>   
            <select name="vehicle_parking">
              <option value="garage">Private garage</option>
              <option value="covered">Covered</option>
              <option value="motorcycle">Uncovered</option>
              <option value="none">None</option>
            </select>  
            <label for="reserved">Reserved: </label>          
            <input type="checkbox" class="reserved" name="reserved" value="reserved"> 
            <label for="importance">Importance</label>
            <select name="importance">
              <option value="required">Required</option>
              <option value="important">Important</option>
              <option value="preferred" selected>Preferred</option>
              <option value="no_thanks">No thanks</option>
            </select>
          </div>`

        vehicleList.insertAdjacentHTML('beforeend', htmlString);
        const newVehicle = vehicleList.lastChild
        vehiclePet.addEventListener("input", addVehicle); 
//        const thisPetType = newPet.querySelector(".pet_type")
//        thisPetType.addEventListener("click", petType)
      }








      

        document.querySelector(".vehicles").insertAdjacentHTML('afterbegin', htmlString);
    }

    function addDestination(event) {
      event.preventDefault()
      document.querySelector(".dropdown-content").setAttribute("style", "")
      let iconPlace = '', ourPlaceholder =''

      switch (event.target.id) {
        case "church":
          iconPlace = "Church"
          break;
        case "daycare":
          iconPlace = "Daycare"
          break;        
        case "friend_family":
          iconPlace = "Friend/Family"
          break;
        case "gym":
          iconPlace = "Gym"
          break;   
        case "school":
          iconPlace = "School"
          break;
        case "work":
          iconPlace = "Work"
          break;        
        case "grocery":
          iconPlace = "Grocery"
          break;
        case "cafe":
          iconPlace = "Cafe"
          break;           
        case "restaurant":
          iconPlace = "Restaurant"
          break;  
        default:
          iconPlace = "Other"
      }     
      ourPlaceholder = iconPlace + " Name (optional)"

      const htmlString = 
        `<div>
          <div>
            <p>` + 
        iconPlace + 
           `</p>
          </div>
        </div> 

        <div class="destination">
          <input class="destination_name" type="text" name="destination" placeholder="` +
          ourPlaceholder +
          `">
          <input class="address" type="text" name="address" placeholder="Address/Intersection"> 
          <select name="travel_by" style="width:40%">
            <option value="walk">Walk</option>
            <option value="bike">Bike</option>
            <option value="public" selected>Public</option>
            <option value="drive">Drive</option>
          </select> 
          <select name="travel_time" style="width:40%">
            <option value="5">5 min.</option>
            <option value="10">10 min.</option>
            <option value="15">15 min.</option>
            <option value="20" selected>20 min.</option>
            <option value="30">30 min.</option>
            <option value="45">45 min.</option>
            <option value="60">60 min.</option>
          </select>           
          <select name="importance" style="width:50%" class="one_column">
            <option value="required">Required</option>
            <option value="important">Important</option>
            <option value="preferred" selected>Preferred</option>
            <option value="no_thanks">No thanks</option>
          </select>
        </div>`

      document.querySelector(".destination_details").insertAdjacentHTML('afterbegin', htmlString);

    }
    
    function listeners() {
      document.querySelectorAll(".dropdown icon").forEach(d => d.addEventListener("click", activateAccordian))
      document.querySelectorAll(".title").forEach(t => t.addEventListener("click", activateAccordian))
      document.querySelector(".using_real_estate_agent").addEventListener("click", toggleRealEstateAgent)
      document.querySelector(".lender_preapproved").addEventListener("click", toggleLender)
      const dest_items = document.querySelectorAll(".destination_item")
      dest_items.forEach(d => d.addEventListener("click", addDestination))
    }
  
    listeners()
    addOccupantRow()
    addPetRow()
    addVehicle()
  </script>
<%- include("../partials/footer") %>