<%- include("../partials/header") %>

<form action="/profile" method="POST">
  <%#- include("./partials/formInputs") %>
  <div>
    <p1>Unit Buyer Profile</p1>

    <div class="ui accordion">
        <!-- <div class="active title"> -->
        <div class="active title">
          <i class="dropdown icon"></i>
         Classify
        </div>
        <!-- <div class="active content"> -->
        <div class="active content">
          <div>
            <input type="radio" id="resident"
              name="purpose" value="mail">
            <label for="resident">I will live there</label>  

            <input type="radio" id="resident_investor"
              name="purpose" value="phone">
            <label for="resident_investor">Live there now, maybe rent later</label>  

            <input type="radio" id="investor"
              name="purpose" value="email">
            <label for="investor">Investment for rental</label>
          </div>

          <div>
            <input type="checkbox" class="real_estate_agent" name="real_estate_agent" value="real_estate_agent"> I'm working with a real estate agent.
            <div>
              <label class="real_estate_agent_info" style = "display: none" for="real_estate_agent_name">Agent name</label>         
              <input class="real_estate_agent_info" style = "display: none" type="text" name="real_estate_agent_name">
              <label class="real_estate_agent_info" style = "display: none" for="real_estate_agent_email" >Email</label>
              <input class="real_estate_agent_info" style = "display: none" type="email" name="real_estate_agent_email">
            </div>
          </div>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Us
        </div>
        <div class="content">
          <p>Who will live there?</p>
          <p>People</p>
          <div class="occupant_list">
          </div>
          <p>Pets</p>          
          <div class="pet_list">
          </div>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          My new unit

        </div>


        <div class="content">
          <p>Features:</p>

          <div class="laundry">
            <div>
              <input type="checkbox" class="laundry" name="laundry" value="laundry"> 
              <label for="laundry_type">Laundry: </label>
              <select name="laundry_type">
                <option value="in_unit" selected>In-unit</option>
                <option value="in_building">In-building</option>
                <option value="nearby">Nearby</option>
              </select>              
            </div>
            <label for="importance">Importance</label>
            <select name="importance">
              <option value="required">Required</option>
              <option value="important">Important</option>
              <option value="preferred" selected>Preferred</option>
              <option value="no_thanks">No thanks</option>
            </select>
          </div>
          <div class="garburator">
            <input type="checkbox" class="garburator" name="garburator" value="garburator"> 
            <label for="garburator">Garburator: </label>
            <label for="importance">Importance</label>
            <select name="importance">
              <option value="required">Required</option>
              <option value="important">Important</option>
              <option value="preferred" selected>Preferred</option>
              <option value="no_thanks">No thanks</option>
            </select>
          </div>
          <div class="dishwasher">
            <input type="checkbox" class="dishwasher" name="dishwasher" value="dishwasher"> 
            <label for="dishwasher">Dishwasher: </label>
            <label for="importance">Importance</label>
            <select name="importance">
              <option value="required">Required</option>
              <option value="important">Important</option>
              <option value="preferred" selected>Preferred</option>
              <option value="no_thanks">No thanks</option>
            </select>
          </div>
          <div class="fireplace">
            <input type="checkbox" class="fireplace" name="fireplace" value="fireplace"> 
            <label for="fireplace">Fireplace: </label>
            <label for="importance">Importance</label>
            <select name="importance">
              <option value="required">Required</option>
              <option value="important">Important</option>
              <option value="preferred" selected>Preferred</option>
              <option value="no_thanks">No thanks</option>
            </select>
          </div>
          <div class="balcony">
            <input type="checkbox" class="balcony" name="balcony" value="balcony"> 
            <label for="balcony">Outdoor area (balcony/deck/yard): </label>
            <label for="importance">Importance</label>
            <select name="importance">
              <option value="required">Required</option>
              <option value="important">Important</option>
              <option value="preferred" selected>Preferred</option>
              <option value="no_thanks">No thanks</option>
            </select>
          </div>
          <div class="home_office">
            <input type="checkbox" class="home_office" name="home_office" value="home_office"> 
            <label for="home_office">Home office: </label>
            <label for="importance">Importance</label>
            <select name="importance">
              <option value="required">Required</option>
              <option value="important">Important</option>
              <option value="preferred" selected>Preferred</option>
              <option value="no_thanks">No thanks</option>
            </select>
          </div>
          <label class="min_bedrooms" for="min_bedrooms">Minimum bedrooms</label>         
          <select name="min_bedrooms">
            <option value="0">Studio</option>
            <option value="1">1+</option>
            <option value="2" selected>2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
          </select>
          <label class="min_bathrooms" for="min_bathrooms">Minimum bedrooms</label>         
          <select name="min_bathrooms">
            <option value="1" selected>1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
          </select>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Getting Places
        </div>
        <div class="content">
          <p>Places I go</p>
          <label class="destination" for="destination">Destination: </label>         
          <input class="destination" type="text" name="destination">
          <select name="destination_type">
            <option value="church">Church</option>
            <option value="daycare">Daycare</option>
            <option value="friend_family">Friend/Family</option>
            <option value="gym">Gym</option>
            <option value="school">School</option>
            <option value="work">Work</option>
            <option value="grocery">Grocery</option>
            <option value="cafe">Cafe</option>
            <option value="restaurant">Restaurant</option>
            <option value="other">Other</option>
          </select>
          <select name="destination_category">
            <option value="any">Any</option>
            <option value="specific">Specific</option>
          </select>    
          <label class="address" for="address">Address/Intersection: </label>         
          <input class="address" type="text" name="address">   
          <select name="travel_by">
            <option value="walk">Walk</option>
            <option value="bike">Bike</option>
            <option value="public">Public Transportation</option>
            <option value="drive">Drive</option>
          </select>  
          <label class="travel_time" for="travel_time">Travel time (minutes): </label>   
          <select name="travel_time">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="60">60</option>
          </select>   
          <label for="importance">Importance</label>
          <select name="importance">
            <option value="required">Required</option>
            <option value="important">Important</option>
            <option value="preferred" selected>Preferred</option>
            <option value="no_thanks">No thanks</option>
          </select>
          <p>Vehicles</p>
          <label class="vehicle_type" for="vehicle_type">Vehicle: </label>   
          <select name="vehicle_type">
            <option value="compact">Compact car</option>
            <option value="full_size">Full-size car/truck</option>
            <option value="motorcycle">Motorcycle</option>
          </select>  
          <label class="vehicle_parking" for="vehicle_parking">Parking: </label>   
          <select name="vehicle_parking">
            <option value="garage">Private garage</option>
            <option value="covered">Covered</option>
            <option value="motorcycle">Uncovered</option>
            <option value="none">None</option>
          </select>  
          <label for="reserved">Reserved: </label>          
          <input type="checkbox" class="reserved" name="reserved" value="reserved"> 
          <label for="importance">Importance</label>
          <select name="importance">
            <option value="required">Required</option>
            <option value="important">Important</option>
            <option value="preferred" selected>Preferred</option>
            <option value="no_thanks">No thanks</option>
          </select>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          Lifestyle
        </div>
        <div class="content">
          <p>Lifestyle - Check all that apply to you</p>
          <div class="access">
            <input type="checkbox" class="no_stairs" name="no_stairs" value="no_stairs"> 
            <label for="no_stairs">No stairs: </label>  
            <input type="checkbox" class="no_elevator" name="no_elevator" value="no_elevator"> 
            <label for="no_stairs">No elevator: </label> 
            <select name="importance">
              <option value="required">Required</option>
              <option value="important">Important</option>
              <option value="preferred" selected>Preferred</option>
              <option value="no_thanks">No thanks</option>
            </select>          
          </div>
          <div class="amenities">
            <div class="storage">
              <input type="checkbox" class="storage" name="storage" value="storage"> 
              <label for="storage">Storage: </label> 
              <select name="storage_type">
                <option value="locker">Locker</option>
                <option value="shed">Shed</option>
              </select>   
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="gym">
              <input type="checkbox" class="gym" name="gym" value="gym"> 
              <label for="gym">Gym: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="pool">
              <input type="checkbox" class="pool" name="pool" value="pool"> 
              <label for="pool">Pool: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="concierge">
              <input type="checkbox" class="concierge" name="concierge" value="concierge"> 
              <label for="concierge">Concierge: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="playground">
              <input type="checkbox" class="playground" name="playground" value="playground"> 
              <label for="playground">Playground: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>
            <div class="guest_suite">
              <input type="checkbox" class="guest_suite" name="guest_suite" value="guest_suite"> 
              <label for="guest_suite">Guest suite: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>        
            <div class="hot_tub">
              <input type="checkbox" class="hot_tub" name="hot_tub" value="hot_tub"> 
              <label for="hot_tub">Hot tub: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
            <div class="party_space">
              <input type="checkbox" class="party_space" name="party_space" value="party_space"> 
              <label for="party_space">Party space: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>     
            <div class="garden">
              <input type="checkbox" class="garden" name="garden" value="garden"> 
              <label for="garden">Garden/Greenhouse: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
            <div class="party_space">
              <input type="checkbox" class="party_space" name="party_space" value="party_space"> 
              <label for="party_space">Party space: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
          </div>
          <div class="smoke">
            <div class="tobacco">
              <input type="checkbox" class="tobacco" name="tobacco" value="tobacco"> 
              <label for="tobacco">Tabacco: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
            <div class="cannabis">
              <input type="checkbox" class="cannabis" name="cannabis" value="cannabis"> 
              <label for="cannabis">Cannabis: </label> 
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>                 
            </div>  
          </div>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Financial
        </div>
        <div class="content">
          <p>Financial</p>
          <div class="monthly">
            <p>Monthly expenses: your total budget for housing including:</p>
            <ul>
              <li>Mortgage</li>
              <li>Utilities</li>
              <li>Property taxes</li> 
              <li>Property insurance</li>             
              <li>Repairs & maintenance</li>
            </ul>
            <label class="monthly_budget" for="monthly_budget">$</label>         
            <input class="monthly_budget"type="text" name="monthly_budget">
            <p>Downpayment available for purchase:</p>
            <label class="down_payment" for="down_payment">$</label>         
            <input class="down_payment"type="text" name="down_payment">
          </div>
          <div class="savings">
            <p>Savings: money put aside for major housing expenses (apart from down payment)</p>
            <p>My savings preference</p>
            <input type="radio" name="savings_plan" value="save"> Pay extra monthly to save for major expenses.<br>
            <input type="radio" name="savings_plan" value="female"> Don't save extra.  I'll figure it out when expenses happen.<br>
            <p>My current personal reserve for extra housing expenses: </p>
            <select name="savings_amount">
              <option value="under_10k">Less than $10,000</option>
              <option value="under_25k">$10,000 to $25,000</option>
              <option value="under_50k">$25,000 to $50,000</option>
              <option value="under_100k">$50,000 to $100,000</option>
              <option value="100K_plus">$100,000 +</option>
            </select>  
          </div>
          <div class="lender">
            <input type="checkbox" class="lender_preapproved" name="lender_preapproved" value="lender_preapproved"> I've been pre-approved for my mortgage.
            <div>
              <label class="lender_info" style = "display: none" for="lender_name">Lender</label>  
              <input class="lender_info" style = "display: none" type="text" name="lender_name">
              <label class="lender_info" style = "display: none" for="lender_email" >Email</label>
              <input class="lender_info" style = "display: none" type="text" name="lender_email">
            </div>
          </div>
        </div>

      <input type="submit" value="Save">
      <!-- <input type="submit" value="<%#= article ? "Update" : "Create" %>" class="btn btn-primary"> -->
    </form>  
    <!-- <form action="/clucks/new" method="POST" class="inputForm">
      <label for="content" class="label">Content</label>
      <input type="text" name="content" class="input"  placeholder="Whatchoo cluckin' 'bout?'"></input>
      <label for="imageUrl" class="label">Image URL</label>
      <input type="text" name="imageUrl" class="input"  placeholder="https://i.imgur.com/qM6AGGG99"></input>
      <input type="submit" value="Cluck!" class="btn btn-primary submitButton">
    </form> -->
  </div>
    
  <script>
    function activateAccordian(e) {
      let thisElement, otherElement
      switch(e.target.tagName.toLowerCase()) {
        case "div":
          thisElement = e.target //title div
          otherElement = e.target.nextElementSibling  // content div
          break;
        case "p":
          thisElement = e.target.parentElement  //the content div that holds p
          otherElement = thisElement.previousElementSibling //the title div
          break;
        case "i":
          thisElement = e.target.parentElement  //the title div that holds i
          otherElement = thisElement.nextElementSibling //the content div          
        default:
      }      

      if (thisElement.classList.contains("active")) {
        thisElement.classList.remove("active")
        otherElement.classList.remove("active")
      } else {
        const titles = document.querySelectorAll(".title")
        titles.forEach(t => t.classList.remove("active"))
        const contents = document.querySelectorAll(".content")
        contents.forEach(c => c.classList.remove("active"))
        thisElement.classList.add("active")
        otherElement.classList.add("active")
      }
    }

    function petType(e) {
      const parentPet = e.target.parentElement
      const petSize = parentPet.querySelector(".pet_size")
      const petSizeLabel = parentPet.querySelector(".pet_size_label")
      if (e.target.value === "dog") {
        petSize.style = "display: inline"
        petSizeLabel.style = "display: inline"
      } else {
        petSize.style = "display: none"
        petSizeLabel.style = "display: none"
      }
    }

    function toggleRealEstateAgent(e) {
      const realtors = document.querySelectorAll(".real_estate_agent_info")
      if (e.target.checked) {
        realtors.forEach(r => {
          r.style = "display: inline"
        })
      } else {
        realtors.forEach(r => {
          r.style = "display: none"
        })
      }
    }

    function toggleLender(e) {
      const lenders = document.querySelectorAll(".lender_info")
      if (e.target.checked) {
        lenders.forEach(l => {
          l.style = "display: inline"
        })
      } else {
        lenders.forEach(l => {
          l.style = "display: none"
        })
      }
    }

    function addOccupantRow(e) {
      occupantID = -1
      if (e) {
        occupantID = parseInt(e.target.parentElement.getAttribute("id"))
        e.target.parentElement.setAttribute("id", 1)       
      }

      if (occupantID === -1) {  //first time some has edited this row
        const occupantList = document.querySelector(".occupant_list")
        htmlString = `<div id=-1 class="occupant">
          <label for="occupant_name">Name</label>         
          <input type="text" name="occupant_name">
          <label for="occupant_age">Age</label>
          <select name="occupant_age">
            <option value="under_18">Under 18</option>
            <option value="adult" selected>Adult</option>
            <option value="senior">Senior (over 55)</option>
          </select>
        </div>`

        occupantList.insertAdjacentHTML('beforeend', htmlString);
        const newOccupant = occupantList.lastChild
        newOccupant.addEventListener("input", addOccupantRow); 
      }
    }  
    
    function addPetRow(e) {
      petID = -1
      if (e) {
        petID = parseInt(e.target.parentElement.getAttribute("id"))
        e.target.parentElement.setAttribute("id", 1)       
      }

      if (petID === -1) {  //first time some has edited this row
        const petList = document.querySelector(".pet_list")
        htmlString = `<div id=-1 class="pet">
          <label for="pet_name">Name</label>         
          <input type="text" name="pet_name">
          <label for="pet_type">Type</label>
          <select name="pet_type" class="pet_type">
            <option value="dog" selected>Dog</option>
            <option value="cat">Cat</option>
            <option value="bird">Bird</option>
            <option value="aquarium">Aquarium</option>
            <option value="other">Other</option>
          </select>
          <label for="pet_size" class="pet_size_label">Size</label>
          <select name="pet_size" class="pet_size">
            <option value="small" selected>Small (less than 20 lbs.)</option>
            <option value="medium">Medium</option>
            <option value="large">Large (40+ lbs.)</option>
          </select>            
        </div>`

        petList.insertAdjacentHTML('beforeend', htmlString);
        const newPet = petList.lastChild
        debugger
        newPet.addEventListener("input", addPetRow); 
        const thisPetType = newPet.querySelector(".pet_type")
        thisPetType.addEventListener("click", petType)
      }
    }  
    
    function listeners() {
      document.querySelectorAll(".dropdown icon").forEach(d => d.addEventListener("click", activateAccordian))
      document.querySelectorAll(".title").forEach(t => t.addEventListener("click", activateAccordian))
      document.querySelector(".real_estate_agent").addEventListener("click", toggleRealEstateAgent)
      document.querySelector(".lender_preapproved").addEventListener("click", toggleLender)
    }
  
    listeners()
    addOccupantRow()
    addPetRow()
  </script>
<%- include("../partials/footer") %>