<%- include("../partials/header") %>
<!-- <%- include("../partials/sidenav") %> -->

<div class="container">
  <div class="profile_us">
    <!-- <div class="profile_us_heading">
      <h1>Us</h1>
    </div> -->
    <div class="details">
      <div class="list_of_items vehicles">
        <div class="list_heading">
          <div class="list_label">
            <h1>Vehicles</h1>            
          </div>
          <div class="profile_plus">
            <i data-feather="plus-circle" class="plus_button"></i>
          </div>          
        </div>
        <div>    
          <ul>
            <li>
              <div class="list_item">
                <div class="list_item_cover_image">
                  <i class="fas fa-car fa-3x us_icon"></i>
                </div> 
                <div class="list_item_data">
                  <div class="primary_data">
                    <h4>Compact Car</h4>                      
                  </div>
                  <div class="secondary_data">
                    <p>Honda Civic</p>             
                  </div>          
                </div> 
                <div class="list_item_buttons buttons">
                  <div class="delete_button">
                    <i data-feather="x"></i>
                  </div>
                  <div class="edit_button">
                    <i data-feather="edit-3"></i>
                  </div>   
                </div>
              </div>             
            </li>
            
            <li>
              <div class="list_item">
                <div class="list_item_cover_image">
                    <i class="fas fa-bicycle fa-3x us_icon"></i>
                </div> 
                <div class="list_item_data">
                  <div class="primary_data">
                    <h4>Bicycle</h4>                      
                  </div>
                  <div class="secondary_data">
                    <p>Blue Schwinn</p>             
                  </div>          
                </div> 
                <div class="list_item_buttons buttons">
                  <div class="delete_button">
                    <i data-feather="x"></i>
                  </div>
                  <div class="edit_button">
                    <i data-feather="edit-3"></i>
                  </div>   
                </div>                             
              </div>             
            </li>
          </ul>  
        </div>          
      </div>
    </div>
  </div>
</div>

<div class="nav_buttons">
  <div class="nav_button_left">
    <a href="/profile/show_us">              
      <div class="profile_button">
        <h3><< People and Pets</h3>
      </div>
    </a>       
  </div>  
  <div class="nav_button_right">
    <a href="/profile/show_destinations">              
      <div class="profile_button">
        <h3>Our Destinations >></h3>
      </div>
    </a>       
  </div>  
</div>
<%- include("../partials/footer") %>