<%- include("../partials/header") %>
<p>Profile Show</p>
<div class="container profile_container">
  <div class="profile_basics app_area">
    <p>Basics</p>
    <div class="profile_us app_area">
      <p>Us</p>
      <div class="top app_area">
        <p>Top</p>
      </div>
      <div class="details app_area">
        <p>Details</p>
      </div>
      <div class="bottom app_area">
        <p>Bottom</p>
        <div class="buttons app_area">
          <p>Buttons</p>
        </div>
      </div>
    </div>
    <div class="profile_financial app_area">
      <p>Financial</p>
      <div class="top app_area">
          <p>Top</p>
        </div>
        <div class="details app_area">
          <p>Details</p>
        </div>
        <div class="bottom app_area">
          <p>Bottom</p>
          <div class="buttons app_area">
            <p>Buttons</p>
          </div>
        </div>
    </div>
  </div>
  <div class="profile_elements app_area">
    <p>Elements</p>
    <div class="profile_element_plus app_area">
      <p>Plus</p>
      <div class="profile_element_plus_button app_area">
        <p>Plus button</p>
      </div>
    </div>
    <div class="profile_element_input_new app_area">
      <p>New input</p>
    </div>
    <div class="profile_element_importance_levels app_area">
      <p>Importance levels</p>
      <div class="profile_element_importance_required app_area">
        <p>Required</p>
      </div>
      <div class="profile_element_importance_important app_area">
        <p>Important</p>
      </div>
      <div class="profile_element_importance_preferred app_area">
        <p>Preferred</p>
      </div>
      <div class="profile_element_importance_avoid app_area">
        <p>Avoid</p>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>