<%- include("../partials/header") %>
<!-- <%- include("../partials/sidenav") %> -->

<div class="container">
  <div class="profile_us">
    <!-- <div class="profile_us_heading">
      <h1>Us</h1>
    </div> -->

    <div class="details">
      <div class="list_of_items occupants">
        <div class="list_heading">
          <div class="list_label">
            <h1>Occupants</h1>            
          </div>
          <div class="profile_plus">
            <i data-feather="plus-circle" class="plus_button"></i>
          </div>          
        </div>
        <div>
          <ul>
            <li>
              <div class="list_item">

                <div class="list_item_cover_image">
                  <i class="far fa-user fa-2x"></i>
                </div>
                <div class="list_item_data">
                  <h4>Jackie Gootee</h4>             
                </div>
                <div class="list_item_buttons buttons">
                  <div class="delete_button">
                    <i data-feather="x"></i>
                  </div>
                  <div class="edit_button">
                    <i data-feather="edit-3"></i>
                  </div>                
                </div>                
              </div>             
            </li>
            <li>
              <div class="list_item">
                <div class="list_item_cover_image">
                  <!-- <p>Cover image</p> -->
                  <i class="far fa-user fa-2x"></i>
                </div>
                <div class="list_item_data">
                  <h4>John Gootee</h4>             
                </div>
                <div class="list_item_buttons buttons">
                  <div class="delete_button">
                    <i data-feather="x"></i>
                  </div>
                  <div class="edit_button">
                    <i data-feather="edit-3"></i>
                  </div>                
                </div>                
              </div>             
            </li>
          </ul>           
        </div>
      </div>
      <div class="list_of_items pets">
        <div class="list_heading">
          <div class="list_label">
            <h1>Pets</h1>            
          </div>
          <div class="profile_plus">
            <i data-feather="plus-circle" class="plus_button"></i>
          </div>          
        </div>
        <div>        
          <ul>
            <li>
              <div class="list_item">
                <div class="list_item_cover_image">
                  <img src="/images/olive.jpg" alt="Pet image" height="40" width="40"> 
                </div>
                <div class="list_item_data">
                  <div class="primary_data">
                    <h4>Olive</h4>                     
                  </div>
                  <div class="secondary_data">
                    <p>Dog - under 15 pounds</p>
                  </div>  
                </div>

                <div class="list_item_buttons buttons">
                  <div class="delete_button">
                    <i data-feather="x"></i>
                  </div>
                  <div class="edit_button">
                    <i data-feather="edit-3"></i>
                  </div>                  
                </div>  
              </div>                         
            </li>
          </ul>    
        </div>        
      </div>
    </div>
  </div>
</div>

<div class="nav_buttons">
  <div class="nav_button_left">
    <!-- <a href="/profile/show_us">              
      <div class="profile_button">
        <h3><< People and Pets</h3>                                   
      </div>
    </a>        -->
  </div>  
  <div class="nav_button_right">
    <a href="/profile/show_vehicles">              
      <div class="profile_button">
        <h3>Our vehicles >></h3>                                   
      </div>
    </a>       
  </div>  
</div>
<%- include("../partials/footer") %>