<%- include("../partials/header") %>
<!-- <%- include("../partials/sidenav") %> -->

<div class="container">
  <div class="profile_us">
    <!-- <div class="profile_us_heading">
      <h1>Us</h1>
    </div> -->
    <div class="details">
      <div class="list_of_items destinations">
        <div class="list_heading">
          <div class="list_label">
            <h1>Lifestyle</h1>            
          </div>
          <!-- <div class="profile_plus">
            <i data-feather="plus-circle" class="plus_button"></i>
          </div>           -->
        </div>

          <!-- <div class="profile_element_input_new">
            <p>New input</p>
            <div class="input_fields">
              <div class="icon">
                <div>icon</div>
              </div>
              <p>Inputs</p>
              <div class="importance">
                <select name="importance">
                  <option value="required">Required</option>
                  <option value="important">Important</option>
                  <option value="preferred" selected>Preferred</option>
                  <option value="avoid">Avoid</option>
                </select> 
              </div>
            </div>      
            <div class="input_buttons">
              <div class="cancel_button">
                <p>Cancel</p>
              </div>   
              <div class="save_button">
                <p>Save</p>
              </div>             
            </div>
      
      
          </div> -->

          <!-- <div class="title">
            <i class="dropdown icon"></i>
            My new unit
          </div> -->
    
        <div class="unit_lifestyle">
            <!-- No stairs:
            No elevator:
            Storage:
            Gym:
            Pool:
            Concierge:
            Playground:
            Guest suite:
            Hot tub:
            Party space:
            Garden/Greenhouse:
            Tobacco:
            Cannabis: -->
            
          <div class="no_stairs unit_item">
            <input type="checkbox" class="unit_checkbox" name="no_stairs" value="no_stairs">
            <div class="list_item_cover_image">
              <i class="fas fa-wheelchair fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">No Stairs</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="storage unit_item">
            <input type="checkbox" class="unit_checkbox" name="storage" value="storage">
            <div class="list_item_cover_image">
              <i class="fas fa-door-closed fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Storage</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="gym unit_item">
            <input type="checkbox" class="unit_checkbox" name="gym" value="gym">
            <div class="list_item_cover_image">
              <i class="fas fa-dumbbell fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Gym</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="pool unit_item">
            <input type="checkbox" class="unit_checkbox" name="pool" value="pool">
            <div class="list_item_cover_image">
              <i class="fas fa-swimmer fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Pool</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="concierge unit_item">
            <input type="checkbox" class="unit_checkbox" name="concierge" value="concierge">
            <div class="list_item_cover_image">
              <i class="fas fa-user-tie fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Concierge</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="playground unit_item">
            <input type="checkbox" class="unit_checkbox" name="playground" value="playground">
            <div class="list_item_cover_image">
              <i class="fas fa-child fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Playground</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="guest_suite unit_item">
            <input type="checkbox" class="unit_checkbox" name="guest_suite" value="guest_suite">
            <div class="list_item_cover_image">
              <i class="fas fa-suitcase-rolling fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Guest Suite</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="hot_tub unit_item">
            <input type="checkbox" class="unit_checkbox" name="hot_tub" value="hot_tub">
            <div class="list_item_cover_image">
              <i class="fas fa-hot-tub fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Hot Tub</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="party_space unit_item">
            <input type="checkbox" class="unit_checkbox" name="party_space" value="party_space">
            <div class="list_item_cover_image">
              <i class="fas fa-birthday-cake fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Party Space</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="tobacco unit_item">
            <input type="checkbox" class="unit_checkbox" name="tobacco" value="tobacco">
            <div class="list_item_cover_image">
              <i class="fas fa-smoking fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Tobacco</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>

          <div class="cannibas unit_item">
            <input type="checkbox" class="unit_checkbox" name="cannibas" value="cannibas">
            <div class="list_item_cover_image">
              <i class="fas fa-cannabis fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Cannabis</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>
          

          <div class="garden unit_item">
            <input type="checkbox" class="unit_checkbox" name="garden" value="garden">
            <div class="list_item_cover_image">
              <i class="fas fa-seedling fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Garden</h4>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div>



          <!-- <div class="laundry unit_item">
            <input type="checkbox" class="unit_checkbox" name="laundry" value="laundry">
            <div class="list_item_cover_image">
              <i class="fas fa-tshirt fa-2x us_icon"></i>
            </div> 
            <h5 class="dropdown_heading">Laundry</h5>
            <div>
              <select name="laundry_type">
                <option value="in_unit" selected>In-unit</option>
                <option value="in_building">In-building</option>
                <option value="nearby">Nearby</option>
              </select>                
            </div>
            <div>
              <select name="importance">
                <option value="required">Required</option>
                <option value="important">Important</option>
                <option value="preferred" selected>Preferred</option>
                <option value="no_thanks">No thanks</option>
              </select>              
            </div>
          </div> -->




        </div>
      </div>
    </div>
  </div>
</div>


<div class="nav_buttons">
  <div class="nav_button_left">
    <a href="/profile/show_unit">              
      <div class="profile_button">
        <h3><< Our Condo Unit</h3>   
      </div>
    </a>       
  </div>  
  <div class="nav_button_right">
    <a href="/profile/show_financial">              
      <div class="profile_button">
        <h3>Financial >></h3>
      </div>
    </a>       
  </div>  
</div>
<%- include("../partials/footer") %>