<%- include("../partials/header") %>
<!-- <%- include("../partials/sidenav") %> -->

<div class="container">
  <div class="profile_us">
    <!-- <div class="profile_us_heading">
      <h1>Us</h1>
    </div> -->
    <div class="details">
      <div class="list_of_items destinations">
        <div class="list_heading">
          <div class="list_label">
            <h1>Destinations</h1>            
          </div>
          <div class="profile_plus">
            <i data-feather="plus-circle" class="plus_button"></i>
          </div>          
        </div>

          <!-- <div class="profile_element_input_new">
            <p>New input</p>
            <div class="input_fields">
              <div class="icon">
                <div>icon</div>
              </div>
              <p>Inputs</p>
              <div class="importance">
                <select name="importance">
                  <option value="required">Required</option>
                  <option value="important">Important</option>
                  <option value="preferred" selected>Preferred</option>
                  <option value="avoid">Avoid</option>
                </select> 
              </div>
            </div>      
            <div class="input_buttons">
              <div class="cancel_button">
                <p>Cancel</p>
              </div>   
              <div class="save_button">
                <p>Save</p>
              </div>             
            </div>
      
      
          </div> -->



        <div class="profile_element_importance_levels">
          <div class="profile_element_importance_level required">
            <!-- <h4>Required</h4> -->
            <div class="profile_importance_heading">Required</div>
            <ul>
              <!-- <li>
                <div class="profile_element">
                  <div class="list_item_cover_image">
                    <i class="fas fa-paw fa-2x"></i>
                  </div>             
                  <div class="profile_element_name">
                    <h4>Pets allowed</h4>
                    <div>Small dog</div>
                  </div>
                  <div class="buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>  
                </div>
              </li> -->
    
              <!-- <li>
                <div class="list_item_cover_image">
                  <i class="fas fa-car fa-2x us_icon"></i>
                </div>             
                <div class="profile_element_name">
                  <h4>Covered Reserved Parking</h4>
                  <div>Compact car</div>
                </div>
                <div class="profile_element">
                  <div class="buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>  
                </div>
              </li> -->
    
              <!-- <li>
                <div class="profile_element">
                  <div class="list_item_cover_image">
                    <i class="fas fa-door-open fa-2x us_icon"></i>
                  </div>             
                  <div class="profile_element_name">
                    <h4>2+ Bedrooms</h4>
                  </div>
                  <div class="buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>                       
                </div>
              </li>   -->
              
              <!-- <li>
                <div class="profile_element">
                  <div class="list_item_cover_image">
                    <i class="fas fa-bath fa-2x us_icon"></i>
                  </div>             
                  <div class="profile_element_name">
                    <h4>2+ Bathrooms</h4>
                  </div>
                </div>
                <div class="buttons">
                  <div class="delete_button">
                    <i data-feather="x"></i>
                  </div>                
                  <div class="edit_button">
                    <i data-feather="edit-3"></i>
                  </div>
                </div>                     
              </li>   -->
              
              <!-- <li>
                <div class="profile_element">
                  <div class="buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>    
                  <div class="list_item_cover_image">
                    <i class="fas fa-tshirt fa-2x us_icon"></i>
                  </div>             
                  <div class="profile_element_name">
                    <h4>Laundry</h4>
                    <div>In-unit</div>
                  </div>
                </div>
              </li>            -->
    
    
              <!-- <li>
                <div class="profile_element">
                  <div class="buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>    
                  <div class="list_item_cover_image">
                    <i class="fas fa-cloud-sun fa-2x us_icon"></i>
                  </div>             
                  <div class="profile_element_name">
                    <h4>Outdoor Area</h4>
                    <div>Balcony/Deck/Yard</div>
                  </div>
                </div>
              </li>    -->
    
              <li>
                <div class="list_item">
                  <div class="list_item_cover_image">
                    <i class="fas fa-bicycle fa-3x us_icon"></i>
                  </div>  
                  <div class="list_item_data">
                    <div class="primary_data">
                      <h4>Bicycle to school - 25 min.</h4>  
                    </div>
                    <div class="secondary_data">
                      <p>CodeCore New West Office</p>             
                    </div>          
                  </div>                     
                  <div class="list_item_buttons buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>                                   
                </div>
              </li>   

              <li>
                <div class="list_item">
                  <div class="list_item_cover_image">
                    <i class="fas fa-train fa-3x us_icon"></i>
                  </div>  
                  <div class="list_item_data">
                    <div class="primary_data">
                      <h4>Public Transit to work - 45 min.</h4>  
                    </div>
                    <div class="secondary_data">
                      <p>595 Burrard St, Vancouver, BC</p>             
                    </div>          
                  </div>                     
                  <div class="list_item_buttons buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>                                   
                </div>
              </li>   
            </ul>
          </div>
          <div class="profile_element_importance_level important">
            <!-- <h4>Important</h4> -->
            <div class="profile_importance_heading">Important</div>
            <ul>
              <li>
                <div class="list_item">
                  <div class="list_item_cover_image">
                    <i class="fas fa-walking fa-3x us_icon"></i>
                  </div>  
                  <div class="list_item_data">
                    <div class="primary_data">
                      <h4>Walk to cafe - 10 min.</h4>  
                    </div>        
                  </div>                     
                  <div class="list_item_buttons buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>                                   
                </div>
              </li> 
    
                <!-- <li>
                    <div class="profile_element">
                      <div class="buttons">
                        <div class="delete_button">
                          <i data-feather="x"></i>
                        </div>                
                        <div class="edit_button">
                          <i data-feather="edit-3"></i>
                        </div>
                      </div>    
                      <div class="list_item_cover_image">
                        <i class="fas fa-child fa-2x us_icon"></i>
                      </div>             
                      <div class="profile_element_name">
                        <h4>Playground</h4>
                        <div>On the property</div>
                      </div>
                    </div>
                  </li>   -->
        
                  <!-- <li>
                    <div class="profile_element">
                      <div class="buttons">
                        <div class="delete_button">
                          <i data-feather="x"></i>
                        </div>                
                        <div class="edit_button">
                          <i data-feather="edit-3"></i>
                        </div>
                      </div>    
                      <div class="list_item_cover_image">
                        <i class="fas fa-suitcase-rolling fa-2x us_icon"></i>
                      </div>             
                      <div class="profile_element_name">
                        <h4>Guest Suite Available</h4>
                      </div>
                    </div>
                  </li>   -->
            </ul>
    
          </div>
          <div class="profile_element_importance_level preferred">
            <!-- <h4>Preferred</h4> -->
    
            <ul>
              <!-- <li>
                  <div class="profile_element">
                    <div class="buttons">
                      <div class="delete_button">
                        <i data-feather="x"></i>
                      </div>                
                      <div class="edit_button">
                        <i data-feather="edit-3"></i>
                      </div>
                    </div>    
                    <div class="list_item_cover_image">
                      <i class="fas fa-utensils fa-2x us_icon"></i>
                    </div>             
                    <div class="profile_element_name">
                      <h4>Dishwasher</h4>
                    </div>
                  </div>
                </li>    -->
    
                <!-- <li>
                  <div class="profile_element">
                    <div class="buttons">
                      <div class="delete_button">
                        <i data-feather="x"></i>
                      </div>                
                      <div class="edit_button">
                        <i data-feather="edit-3"></i>
                      </div>
                    </div>    
                    <div class="list_item_cover_image">
                      <i class="fas fa-dumbbell fa-2x us_icon"></i>
                    </div>             
                    <div class="profile_element_name">
                      <h4>Gym</h4>
                    </div>
                  </div>
                </li>   -->
            
            </ul>
          </div>
          <div class="profile_element_importance_level avoid">
            <!-- <h4>Avoid</h4> -->
            <ul>
              <!-- <li>
                <div class="profile_element">
                  <div class="list_item_cover_image">
                    <i class="fas fa-blind fa-2x us_icon"></i>
                  </div>             
                  <div class="profile_element_name">
                    <h4>No stairs</h4>
                  </div>
                  <div class="buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>                      
                </div>
              </li> -->
              
              <!-- <li>
                <div class="profile_element">
                  <div class="list_item_cover_image">
                    <i class="fas fa-smoking fa-2x us_icon"></i>
                  </div>             
                  <div class="profile_element_name">
                    <h4>No smoking</h4>
                  </div>
                  <div class="buttons">
                    <div class="delete_button">
                      <i data-feather="x"></i>
                    </div>                
                    <div class="edit_button">
                      <i data-feather="edit-3"></i>
                    </div>
                  </div>                      
                </div>
              </li>          -->
            </ul>
    
          </div>
        </div>



      </div>

    </div>
  </div>
</div>

<div class="nav_buttons">
  <div class="nav_button_left">
    <a href="/profile/show_vehicles">              
      <div class="profile_button">
        <h3><< Our Vehicles</h3>   
      </div>
    </a>       
  </div>  
  <div class="nav_button_right">
    <a href="/profile/show_unit">              
      <div class="profile_button">
        <h3>Our Condo Unit >></h3>
      </div>
    </a>       
  </div>  
</div>
<%- include("../partials/footer") %>