<%- include("../partials/header") %>
<!-- <%- include("../partials/sidenav") %> -->

<div class="profile_container">
  <div class="list_of_items">
    <ul>
      <li>
        <div class="list_heading">
          <h1>Lifestyle</h1>
        </div>
      </li>
      <li>
        <div class="list_subheading">
          <p>(Check & rate all that apply)</p>
        </div>
      </li>
      <li>
        <div class="accessible list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-wheelchair fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Accessible</h4>            
          </div>
          <div class="list_element_right">

            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>  
            <input type="checkbox" class="lifestyle_checkbox" name="accessible" value="accessible">         
          </div>
        </div>        
      </li>
      <li>
        <div class="storage list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-door-closed fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Storage</h4>
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>  
            <input type="checkbox" class="lifestyle_checkbox" name="storage" value="storage">
          </div>  
        </div>
      </li>
      <li>
        <div class="gym list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-dumbbell fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Gym</h4>
            
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>     
            <input type="checkbox" class="lifestyle_checkbox" name="gym" value="gym">       
          </div>
        </div>
      </li>
      <li>
        <div class="pool list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-swimmer fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Pool</h4>
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>  
            <input type="checkbox" class="lifestyle_checkbox" name="pool" value="pool">          
          </div>
        </div>
      </li>
      <li>
        <div class="concierge list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-user-tie fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Concierge</h4>
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>   
            <input type="checkbox" class="lifestyle_checkbox" name="concierge" value="concierge">       
          </div>
        </div>        
      </li>
      <li>
        <div class="playground list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-child fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Playground</h4>
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>  
            <input type="checkbox" class="lifestyle_checkbox" name="playground" value="playground">          
          </div>
        </div>        
      </li>
      <li>
        <div class="guest_suite list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-suitcase-rolling fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Guest Suite</h4>
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div> 
            <input type="checkbox" class="lifestyle_checkbox" name="guest_suite" value="guest_suite">           
          </div>
        </div>        
      </li>
      <li>
        <div class="hot_tub list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-hot-tub fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Hot Tub</h4>
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>   
            <input type="checkbox" class="lifestyle_checkbox" name="hot_tub" value="hot_tub">        
          </div>
        </div>        
      </li>
      <li>
        <div class="party_space list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-birthday-cake fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Party Space</h4>
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>  
            <input type="checkbox" class="lifestyle_checkbox" name="party_space" value="party_space">          
          </div>
        </div>        
      </li>
      <li>
        <div class="tobacco list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-smoking fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Tobacco</h4>
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>   
            <input type="checkbox" class="lifestyle_checkbox" name="tobacco" value="tobacco">          
          </div>
        </div>        
      </li>
      <li>
        <div class="cannibas list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-cannabis fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Cannabis</h4>
          </div>
          <div class="list_element_right">
            
            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>    
            <input type="checkbox" class="lifestyle_checkbox" name="cannibas" value="cannibas">        
          </div>
        </div>        
      </li>
      <li>
        <div class="garden list_element">
          <div class="list_element_left">
            <div class="list_item_cover_image">
              <i class="fas fa-seedling fa-2x us_icon"></i>
            </div> 
            <h4 class="dropdown_heading">Garden</h4>
          </div>
          <div class="list_element_right">

            <div class="importance display_off" id="-1">
              <span id="ban" class="fa fa-ban fa-2x rating"></span>
              <span id="preferred" class="fa fa-star fa-2x rating checked"></span>
              <span id="important" class="fa fa-star fa-2x rating"></span>
              <span id="required" class="fa fa-star fa-2x rating"></span>
            </div>  
            <input type="checkbox" class="lifestyle_checkbox" name="garden" value="garden">          
          </div>
        </div>        
      </li>
    </ul>
  </div>
</div>


<div class="nav_buttons">
  <div class="nav_button_left">
    <a href="/profile/show_unit">              
      <div class="profile_button">
        <h3><< Features</h3>   
      </div>
    </a>       
  </div>  
  <div class="nav_button_right">
    <a href="/profile/show_financial">              
      <div class="profile_button">
        <h3>Financial >></h3>
      </div>
    </a>       
  </div>  
</div>

<script>
  function toggleRatings(event) {
    const importance = event.target.parentNode.querySelector(".importance")
    event.target.checked ? importance.classList.remove("display_off") : importance.classList.add("display_off")
  }

  function rate(event) {
    event.preventDefault();
    const targetType = event.target.id
    const banNode = event.target.parentNode.querySelector("#ban")
    const preferredNode = event.target.parentNode.querySelector("#preferred")
    const importantNode = event.target.parentNode.querySelector("#important")
    const requiredNode = event.target.parentNode.querySelector("#required")

    //console.log(targetType)
    if (targetType === "ban") {
      banNode.classList.add("checked")
      preferredNode.classList.remove("checked")
      importantNode.classList.remove("checked")
      requiredNode.classList.remove("checked")
    } else {
      banNode.classList.remove("checked")
      switch (targetType) {
        case "preferred": {
          preferredNode.classList.add("checked");
          importantNode.classList.remove("checked");
          requiredNode.classList.remove("checked");
          break;
        }
        case "important": {
          preferredNode.classList.add("checked");
          importantNode.classList.add("checked");
          requiredNode.classList.remove("checked");
          break;
        }
        case "required": {
          preferredNode.classList.add("checked");
          importantNode.classList.add("checked");
          requiredNode.classList.add("checked");
          break;
        }
      }
    }
  }

  function load() {
    const ratings = document.querySelectorAll(".rating")
    ratings.forEach(r => {
      r.addEventListener("click", rate)
    })

    const checkBoxes = document.querySelectorAll(".lifestyle_checkbox")
    console.log(checkBoxes)
    checkBoxes.forEach(l => {
      l.addEventListener("click", toggleRatings)
    })    
  }

  load();
</script>

<%- include("../partials/footer") %>