<%- include("../partials/header") %>
<div class="container profile_container">
  <div class="profile_left app_area">
    <p>Left</p>

    <div class="profile_us app_area">
      <p>Us</p>
      <div class="profile_us_top top app_area">
        <div class="icon app_area">
          <p>icon</p>
        </div>
        <div class="buttons app_area">
          <p>buttons</p>
        </div>
      </div>
      <div class="details app_area">
        <div class="list_of_items app_area occupants">
          <p>Occupants</p>
          <ul>
            <li>
              <div class="list_item app_area">
                <div class="list_item_buttons">
                  <div class="delete app_area">
                    <p>X</p>
                  </div>
                </div>
                <div class="list_item_cover_image app_area">
                  <p>Cover image</p>
                </div>
                <div class="list_item_name app_area">
                  <p>Name</p>             
                </div>
              </div>             
            </li>
          </ul>            
        </div>
        <div class="list_of_items app_area pets">
          <p>Pets</p>
          <ul>
            <li>
              <div class="list_item app_area">
                <div class="list_item_buttons">
                  <div class="delete app_area">
                    <p>X</p>
                  </div>
                </div>
                <div class="list_item_cover_image app_area">
                  <p>Cover image</p>
                </div>
                <div class="list_item_name app_area">
                  <p>Name</p>             
                </div>
              </div>             
            </li>
          </ul>            
        </div>
        <div class="list_of_items app_area vehicles">
          <p>Vehicles</p>
          <ul>
            <li>
              <div class="list_item app_area">
                <div class="list_item_buttons">
                  <div class="delete app_area">
                    <p>X</p>
                  </div>
                </div>
                <div class="list_item_cover_image app_area">
                  <p>Cover image</p>
                </div>             
                <div class="list_item_type app_area">
                  <p>Type</p>             
                </div> 
                <div class="list_item_description app_area">
                  <p>Description</p>             
                </div>               
              </div>             
            </li>
          </ul>            
        </div>
      </div>
      <div class="bottom app_area">
        <div class="buttons app_area">
          <p>Save</p>
        </div>
      </div>
    </div>

    <div class="profile_financial app_area">
      <p>Financial</p>
      <div class="profile_financial_top top app_area">
        <div class="icon app_area">
          <p>icon</p>
        </div>
        <div class="buttons app_area">
          <p>buttons</p>
        </div>
      </div>

      <div class="details app_area">
        <p>Details</p>
        <div class="budget app_area">
          <p>Budget</p>
          <ul>
            <li>
              <div class="list_item app_area">
                <div class="list_item_buttons">
                  <div class="edit app_area">
                    <p>E</p>
                  </div>
                </div>
                <div class="list_item_icon app_area">
                  <p>icon</p>
                </div>             
                <div class="list_item_type app_area">
                  <p>Monthly Housing Budget</p>             
                </div> 
                <div class="list_item_amount app_area">
                  <p>Amount</p>             
                </div> 
                <div class="list_item_description app_area">
                  <p>Description</p>             
                </div>               
              </div>             
            </li>
            <li>
              <div class="list_item app_area">
                <div class="list_item_buttons">
                  <div class="edit app_area">
                    <p>E</p>
                  </div>
                </div>
                <div class="list_item_icon app_area">
                  <p>icon</p>
                </div>             
                <div class="list_item_type app_area">
                  <p>Down Payment</p>             
                </div> 
                <div class="list_item_amount app_area">
                  <p>Amount</p>             
                </div> 
                <div class="list_item_description app_area">
                  <p>Description</p>             
                </div>               
              </div>             
            </li> 
            <li>
              <div class="list_item app_area">
                <div class="list_item_buttons">
                  <div class="edit app_area">
                    <p>E</p>
                  </div>
                </div>
                <div class="list_item_icon app_area">
                  <p>icon</p>
                </div>             
                <div class="list_item_type app_area">
                  <p>Savingst</p>             
                </div> 
                <div class="list_item_amount app_area">
                  <p>Amount</p>             
                </div> 
                <div class="list_item_description app_area">
                  <p>Description</p>             
                </div>               
              </div>             
            </li>            
            
          </ul>            
        </div>

        <div class="lender app_area">
          <p>Lender:</p>
          <div class="lender">
            <div class="ui checkbox">
              <input type="checkbox" class="lender_preapproved" name="lender_preapproved" value="lender_preapproved"> 
              <label for="lender_preapproved">I've been pre-approved for my mortgage: </label>
            </div>
            <div class="control_group">  
              <input class="lender_info" style = "display: none" type="text" name="lender_name" placeholder="Lender Name">
              <input class="lender_info" style = "display: none" type="text" name="lender_email" placeholder="Email">
            </div>
          </div>            
        </div>
      </div>
    </div>

    <div class="bottom app_area">
      <div class="buttons app_area">
        <p>Save</p>
      </div>
    </div>
  </div>
</div>

  <div class="profile_elements app_area">
    <p>Elements</p>
    <div class="profile_element_plus app_area">
      <p>Plus</p>
      <div class="profile_element_plus_button app_area">
        <i class="plus square outline icon"></i>
      </div>
    </div>
    <div class="profile_element_input_new app_area">
      <p>New input</p>
      <div class="input_fields app_area">
        <div class="icon app_area">
          <div>icon</div>
        </div>
        <p>Inputs</p>
        <div class="importance">
          <select name="importance">
            <option value="required">Required</option>
            <option value="important">Important</option>
            <option value="preferred" selected>Preferred</option>
            <option value="avoid">Avoid</option>
          </select> 
        </div>
      </div>      
      <div class="input_buttons app_area">
        <div class="cancel_button app_area">
          <p>Cancel</p>
        </div>   
        <div class="save_button app_area">
          <p>Save</p>
        </div>             
      </div>


    </div>
    <div class="profile_element_importance_levels app_area">
      <p>Importance levels</p>
      <div class="profile_element_importance_level required app_area">
        <p>Required</p>
        <ul>
          <li>
            <div class="profile_element app_area">
              <div class="delete app_area">
                <p>X</p>
              </div>
              <div class="edit app_area">
                <p>E</p>
              </div>                 
              <div class="profile_element_icon app_area">
                <p>icon</p>
              </div>
              <div class="profile_element_name app_area">
                <p>name</p>
              </div>
              <div class="profile_element_importance app_area">
                <p>importance</p>
              </div>              
            </div>
          </li>
        </ul>
      </div>
      <div class="profile_element_importance_level important app_area">
        <p>Important</p>
      </div>
      <div class="profile_element_importance_level preferred app_area">
        <p>Preferred</p>
      </div>
      <div class="profile_element_importance_level avoid app_area">
        <p>Avoid</p>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>