<%- include("../partials/header") %>
<p>Profile Show</p>
<div class="container">
  <div class="profile_basics">
    <div class="profile_us">

    </div>
    <div class="profile_financial">

    </div>

  </div>
  <div class="profile_elements">
    <div class="profile_element_plus">
      <div class="profile_element_plus_button">

      </div>
    </div>
    <div class="profile_element_input_new">

    </div>
    <div class="profile_element_importance_levels">
      <div class="profile_element_importance_required">

      </div>
      <div class="profile_element_importance_important">
        
      </div>
      <div class="profile_element_importance_preferred">
        
      </div>
      <div class="profile_element_importance_avoid">
      
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>