<%- include("../partials/header") %>
<!-- <%- include("../partials/sidenav") %> -->

<div class="profile_container">
  <div class="details">
    <div class="list_of_items">
      <ul>
        <li>
          <div class="list_heading">
            <h1>Occupants</h1>
            <div class="list_plus">
              <i data-feather="plus-circle" class="plus_button"></i>
            </div>  
          </div>
        </li>
        <li>
          <div class="list_element">
            <div class="list_element_left">
              <div class="list_item_cover_image">
                <img src="/images/jackie.jpg" alt="Jackie's image" height="60" width="60">
              </div> 
              <div class="list_item_data">
                <div class="primary_data">
                  <h4>Jackie</h4>  
                </div>
                <div class="secondary_data">
                  <p>Adult</p>             
                </div>   
              </div>           
            </div>
            <div class="list_element_right">
              <!-- XXXXXXXXXX Keep XXXXXXXXXXXXXXXXX -->
              <!-- <select name="vehicle_parking">
                <option disabled selected value> -- parking required? -- </option>
                <option value="garage">Private garage</option>
                <option value="covered">Covered</option>
                <option value="covered_reserved">Covered (reserved)</option>
                <option value="uncovered">Uncovered</option>
                <option value="uncovered_reserved">Uncovered (reserved)</option>
                <option value="none">None</option>
              </select>   -->
         
              <!-- XXXXXXXXXX Keep XXXXXXXXXXXXXXXXX -->  
              <!-- <div class="list_item_buttons buttons">
                <div class="delete_button">
                  <i data-feather="x"></i>
                </div>
                <div class="edit_button">
                  <i data-feather="edit-3"></i>
                </div>   
              </div> -->
            </div>
          </div>        
        </li>
        <li>
          <div class="list_element">
            <div class="list_element_left">
              <div class="list_item_cover_image">
                <img src="/images/john.jpeg" alt="Pet image" height="60" width="60">
              </div> 
              <div class="list_item_data">
                <div class="primary_data">
                  <h4>John</h4>  
                </div>
                <div class="secondary_data">
                  <p>Adult</p>             
                </div>   
              </div>           
            </div>
            <div class="list_element_right">

            </div>
          </div>        
        </li>
        <li>
          <div class="list_element">
            <div class="list_element_left">
              <div class="list_item_cover_image">
                <img src="/images/olive.jpg" alt="Pet image" height="60" width="60">
              </div> 
              <div class="list_item_data">
                <div class="primary_data">
                  <h4>Olive</h4>  
                </div>
                <div class="secondary_data">
                  <p>Dog - under 20 lbs.</p>             
                </div>  
              </div>           
            </div>
            <div class="list_element_right">
            </div>
          </div>        
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="nav_buttons">
  <div class="nav_button_left">
    <!-- <a href="/profile/show_us">              
      <div class="profile_button">
        <h3><< People and Pets</h3>                                   
      </div>
    </a>        -->
  </div>  
  <div class="nav_button_right">
    <a href="/profile/show_vehicles">              
      <div class="profile_button">
        <h3>Our vehicles >></h3>                                   
      </div>
    </a>       
  </div>  
</div>
<%- include("../partials/footer") %>