<%- include("../partials/header") %>
<!-- <%- include("../partials/sidenav") %> -->

<div class="profile_container">
  <div class="details">
    <div class="list_of_items">
      <ul>
        <li>
          <div class="list_heading">
            <h1>Destinations</h1>
            <div class="list_plus">
              <i data-feather="plus-circle" class="plus_button"></i>
            </div>  
          </div>
        </li>
        <li>
          <div class="list_element">
            <div class="list_element_left">
              <div class="list_item_cover_image">
                  <i class="fas fa-bicycle fa-3x us_icon"></i>
              </div> 
              <div class="list_item_data">
                <div class="primary_data">
                  <h4>Bike to school</h4>  
                </div>
                <div class="secondary_data">
                  <p>CodeCore New West Office</p>             
                </div>  
                <div class="secondary_data">
                  <p>628 6th Ave, New West</p>             
                </div>   
              </div>           
            </div>
            <div class="list_element_right">
              <h4 class="dropdown_heading">25 min.</h4>
              <div>
                <select name="importance">
                  <option value="required">Required</option>
                  <option value="important">Important</option>
                  <option value="preferred" selected>Preferred</option>
                  <option value="no_thanks">No thanks</option>
                </select>              
              </div>            
            </div>
          </div>        
        </li>
        <li>
          <div class="list_element">
            <div class="list_element_left">
              <div class="list_item_cover_image">
                <i class="fas fa-train fa-3x us_icon"></i>
              </div> 
              <div class="list_item_data">
                <div class="primary_data">
                  <h4>Public Transit to work</h4>  
                </div>
                <div class="secondary_data">
                  <p>ABC Company, Ltd.</p>             
                </div>  
                <div class="secondary_data">
                  <p>595 Burrard St, Vancouver</p>             
                </div>   
              </div>           
            </div>
            <div class="list_element_right">
              <h4 class="dropdown_heading">45 min.</h4>
              <div>
                <select name="importance">
                  <option value="required">Required</option>
                  <option value="important">Important</option>
                  <option value="preferred" selected>Preferred</option>
                  <option value="no_thanks">No thanks</option>
                </select>              
              </div>            
            </div>
          </div>        
        </li>
        <li>
          <div class="list_element">
            <div class="list_element_left">
              <div class="list_item_cover_image">
                <i class="fas fa-walking fa-3x us_icon"></i>
              </div> 
              <div class="list_item_data">
                <div class="primary_data">
                  <h4>Walk to cafe</h4>  
                </div>
              </div>           
            </div>
            <div class="list_element_right">
              <h4 class="dropdown_heading">10 min.</h4>
              <div>
                <select name="importance">
                  <option value="required">Required</option>
                  <option value="important">Important</option>
                  <option value="preferred" selected>Preferred</option>
                  <option value="no_thanks">No thanks</option>
                </select>              
              </div>            
            </div>
          </div>        
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="nav_buttons">
  <div class="nav_button_left">
    <a href="/profile/show_vehicles">              
      <div class="profile_button">
        <h3><< Our Vehicles</h3>   
      </div>
    </a>       
  </div>  
  <div class="nav_button_right">
    <a href="/profile/show_unit">              
      <div class="profile_button">
        <h3>Features >></h3>
      </div>
    </a>       
  </div>  
</div>
<%- include("../partials/footer") %>