<nav class="navbar">
  <div>
    <a href="/stratas/index">
      <div>
        <img src="/images/condoit.jpg" class="logo" alt="Condoit">
      </div>    
    </a>    
  </div>


    
    
    <!-- <img src="./chicken2.jpeg" alt="Chicken2">
    <img src="https://icon-library.net/icon/chicken-icon-png-2.html" alt="Chicken3">
    
    <div class="item a-image">
      <img src="/temp_assets/student.svg" width="480" height="480" alt="Student Illustration">
    </div> -->


    <!-- <img src="http://icons.iconarchive.com/icons/google/noto-emoji-animals-nature/256/22266-chicken-icon.png> -->
    <!-- <h1>Cluckr</h1> -->
    <div class="menu_links">
      <a href="/sales_listing/show" class="menu_link">Listing Show</a>
      |  
      <a href="/stratas/show" class="menu_link">Strata Show</a>
      |  
      <a href="/stratas/index" class="menu_link">Strata Index</a>
      |      
      <a href="/" class="menu_link">Home</a>
      |
      <a href="/profile/show" class="menu_link">Profile Show</a>
      |
      <a href="/profile/new" class="menu_link">Original Profile New</a>      
    </div>
    <div>
      <% if (username) { %> 
        <!-- <a href="/articles/new">New Articles</a> -->
        <!-- <div class="signedInNav"> -->
          <!-- <form action="/clucks/new" method="GET"> -->
            <!-- <label for="username">Sign in!</label>
            <input type="text" name="username"></input> -->
            <!-- <input type="submit" value="Cluck!" class="btn btn-primary"> -->
          <!-- </form> -->

          <div class="usernameDisplay">
            <%= username %>
          </div>

          <form action="/sign_out" method="POST">
            <input type="submit" value="Sign Out" class="btn btn-primary">
          </form>
        </div>
  
      <% } else { %>
        <form action="/sign_in" method="POST">
          <label for="username">Sign in!</label>
          <input type="text" name="username"></input>
          <input type="submit" value="Sign In">
        </form>
      <% } %>      
    </div>






    <!-- < % if (username) { % > 
      <a href="/articles/new">New Articles</a>
      < %= username % >
      <form action="/sign_out" method="POST">
        <input type="submit" value="Sign Out" class="btn btn-danger">
      </form>
    < % } else { % >
      <form action="/sign_in" method="POST">
        <label for="username">Sign in!</label>
        <input type="text" name="username"></input>
        <input type="submit" value="Log In" class="btn btn-primary">
      </form>
    < % } % > -->

</nav>