<%- include("./partials/header") %>

<div>
  <form action="/sign_in" method="POST" class="inputForm">
    <label for="username" class="label">Username</label>
    <input type="text" name="username" class="input"  placeholder="e.g. Madam Welminster">></input>
    <input type="submit" value="Sign In" class="btn btn-primary submitButton">
  </form>
</div>

<%- include("./partials/footer") %>