<%- include("./partials/header") %>
<div class="main_splash">
  
  <!-- <img src="/images/coal_harbour.jpg" alt="Coal Harbour Strata"> -->
  <div class="main_title">
    <div>
      <h1>Condoit</h1>
    </div>
    <div class="to_profile">
      <a href="/profile/show">              
        <div class="profile_button">
          <h3>What's your perfect? >></h3>                                   
        </div>
      </a>       
    </div>    
    <div class="splash_sub_heading">
      <h2>Find your perfect condo home</h2>
    </div>  
  </div>
</div>

<%- include("./partials/footer") %>