.logo {
  width: 48px;
  height: 48px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.sidebar {
  width: 100px;
  height: 100%;
  min-height: 100%;
  background-color: lightblue;
}

.strata_listing {
  display: flex;
  flex-direction: row;
  padding: 2em;
  border: 1em;
  border-color: black;
  border-width: 1em
}

.strata_listing_details {
  display: flex;
  flex-direction: row;  
}

.control_group {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
}

.lender {
  margin: 2em;
}

.savings {
  margin: 2em;
}

.monthly {
  margin: 2em;
}

.explanation {
  margin: 0 0 0 4em;
}

.downpayment {
  margin: 2em;
}

.destination {
  /* min-width: 200px; */
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 0;
}

.navbar {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}