@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith');
@import url('reset.css');

html,
body {
  height: 100%;
  /* required for min-height: 100% to work on the header; alternatively, you could use min-height: 100vh; */
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(120deg, #001F28 0%, #F4EACF 100%); */
  font-family: 'Montserrat', sans-serif;
}

/* p {
  margin-bottom: 1.25em;
} */

h1,
h2,
h3,
h4,
h5 {
  /* margin: 1.75rem 0 1rem; */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

.app_container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-grow: 1.5;
  width: 100px;
  height: 100%;
  min-height: 100%;
  background-color: lightblue;
}

.main {
  flex-grow: 8.5;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.plus_button {
  width: 48px;
  height: 48px;
}

.logo {
  width: 48px;
  height: 48px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.strata_listing {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1em;
  border-color: black;
  border-width: 1em
}

.strata_listing_details {
  display: flex;
  flex-direction: row;  
}

.control_group {
  display: flex;
  flex-direction: row;
}

/* 
.lender {
  margin: 2em;
} */

.savings {
  margin: 2em;
}

.monthly {
  margin: 2em;
}

.explanation {
  margin: 0 0 0 4em;
}

.downpayment {
  margin: 2em;
}

.destination {
  /* min-width: 200px; */
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 0;
}

.navbar {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.app_area {
  border-width:1px;
  border-style:solid;
  border-color:black;
  margin: 5px;
}

.container {
  margin: 2px;
}

/* Strata Index */




.listing_container {
  display: flex;
  flex-direction: column;
}

.strata_index_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strata_index_heading_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strata_listing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scoring {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overall_score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  text-align: center;
}

.strata_listing_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strata_listing_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score_up_and_down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score_up_and_down_item {
  display: flex;
  flex-direction: column;
  justify-content: start; 
}

.details_listing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detail_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


/* Profile Show */

.profile_container {
  display: flex;
  flex-direction: row;
}

.profile_left {
  flex-grow: 3;
}

.profile_us {
  margin: 0 0 40px 0;
}

.profile_us_top  {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

 .profile_us_heading, .profile_financial_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   
} 

.profile_financial_heading {
  margin: 0 0 30px 0;
}

.us_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
}

.us_icon {
  width: 32px;
  height: 32px;
}

.icon_name {
  margin: 5px;
  text-align: center;
}

.occupant_icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
}

.pet_icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
}

.vehicle_icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.occupants {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2ems;
}

.pets {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2ems;
}

.profile_elements {
  flex-grow: 7;
}

.profile_element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
}



.strata_show_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.profile_financial_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.strata_show_neighbourhood_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listing_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strata_neighbourhood_maps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 2;
}

.report_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 6;
}

.report_card_grade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

.report_card_grade_icon {
  flex-grow: 1;
}

.report_card_grade_description {
  flex-grow: 3;
}

.grade_image {
  flex-grow: 2;
}

.list_of_items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  /* margin: 20px 0 20px 0; */
}

.list_heading {
  margin: 20px 0 5px 0;
}

.list_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.list_item_cover_image {
  margin: 0 20px;
  height: 32px; 
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_item_icon {
  width: 32px;
  height: 32px;
}

.list_item_type {
  margin: 0 15px 0 15px;
}



.profile_element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.input_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}
